 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family:  "Monsieur La Doulaise", "cursive";
      background-color: #e0aa91;
      color: #dd9393;
    }

    header {
      background: url('bánh\ tổng\ hợp.jpg') no-repeat center center/cover;
      color: rgb(12, 43, 128);
      padding: 90px 20px;
      text-align: center;
      font-size: 40px;
    }

    header h1 {
        font-style: italic;
        font-weight: bold;
      font-size: 50px;
      margin-bottom: 20px;
    }
    footer h1{
      font-style: normal;
    }

    header p {
      font-size: 30px;
      margin-top: 10px;
    }

    section {
      padding: 40px 20px;
      max-width: 1200px;
      margin: auto;
    }

    h2 {
        color: #8b350d;
      text-align: center;
      margin-bottom: 20px;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 30px;
    }

    .product {
        color: #af3e3e;
      background-color: rgb(240, 154, 56);
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(197, 8, 8, 0.1);
      overflow: hidden;
      padding: 15px;
      text-align: center;
      transition: transform 0.3s ease;
    }

    .product:hover {
      transform: scale(1.05);
    }

    .product img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;
    }

    .product h3 {
      margin: 15px 0 10px;
      font-size: 22px;
    }

    .product p {
      font-size: 18px;
      font-weight: bold;
      color: #3f1f0a;
    }

    .contact {
      background-color: #914e59;
      padding: 40px 20px;
      text-align: center;
    }

    footer {
      background-color: #da3e17;
      color: white;
      text-align: center;
      padding: 20px;
    }

    a.button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #e67e22;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 20px;
    }

    a.button:hover {
      background-color: #d35400;
    }